/* Container */
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    color: black; 
}
header {
    font-size: 20px;
    border: 1px solid grey;
}
nav {
    border: 1px solid grey;
}
section {
    border: 1px solid grey;
}
footer {
    font-size: 10px; /* vw = viewport scale */
    text-align: center;
    border: 1px solid grey;
}
/* Elements */
img {
    height: 32px;
    width: 32px;
}
/* Class */
.top ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
.top li {
    float: left;
}
.top li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}