### Development Settings ###
# Dev Stats
.VSCodeCounter/
# Archive
archive/
# bash
*.sh
# markdown
*.md

!README.md

### SVG Builder ###
svg-builder.py
/media/*/*.html
!/media/*/*.svg

### Webgpu Export User Files ###
# Blender
scene.blend
scene.blend1
scene.blend1
scene.css
scene.html

### Projects ###
/project/*
!**/project/**/docs/**/*.md

# Explicitly include selected projects
!/project/webgpu-export.html
!/project/webgpu-export/

!/project/webgpu-engine.html
!/project/webgpu-engine/

!/project/database-manager.html

!/project/vsc-UnrealRefSense.html

!/project/OrbitalControllSystem.html