# Dev Stats
.VSCodeCounter/
# Project
README.md
# Builder
svg-builder.py
/media/*/*.html
!media/*/*.svg
# Archive
archive/
# Blender
scene.blend
scene.blend1
scene.blend1
# mediaw
*.png~
# webgpu-export template files
scene.css
scene.html
# whitepapers
view/project/orbitalcontrollsystem/overview.html
view/project/webgpu-engine/whitepaper.md
view/project/webgpu-export/whitepaper.md