# Dev Stats
.VSCodeCounter/
# Project
README.md
# Builder
svg-builder.py
/media/*/*.html
!media/*/*.svg
# Archive
archive/
# Blender
scene.blend
scene.blend1
scene.blend1
# mediaw
*.png~
# webgpu-export template files
scene.css
scene.html
# Projects
project/*/*
!project/webgpu-export.html
!project/webgpu-engine.html
#!project/OrbitalControllSystem.html