*{
    user-select:none;
    color-scheme:dark;
    font-family:Verdana,Geneva,Tahoma,sans-serif,sans-serif;

    margin: 0px;
    padding: 0px;
}
html {
    height: 100%;
}
a:link, a:visited, a:hover, a:active, a:focus { 
    color: rgb(0, 128, 255); 
    text-decoration: none; 
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    height: 35px;
    width: 100%;
}
nav {
    width: 100%;
    padding: 5px 0px;
    position: fixed;
    z-index: 1;
}
main {
    z-index: 0;
    padding: 5px 0px;
    flex: 1 0 auto;
}
footer {
    height: 25px;
    width: 100%;
    padding: 5px 0px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
}
small {
    margin: 0px auto;
}
/* shared */
nav, footer {
    background-color: black;
}
#betalayout {
    width: 80%;
}
/* classes */
.icon {
    height: 24px;
    width: 24px;
}
.logo {
    height: 32px;
    width: 32px;
}