<!DOCTYPE html>
<html>
	<head>
		<title>Arbeitsproben</title>

	<meta name="desription" content="Art, coding and moddeling portfolio">
	<meta name="keywords" content="SXuno, Portfolio, Artstaion, Github, Sketfab, LinkedIn">
	<meta name="autor" content="Stefan Wienold">
	<meta name="language" content = 'de'>

		<meta name="viewport" content="width=device-width, inital-scale=1.0">
		<meta charset="UTF-8">

		<link rel="icon" type="image/x-ico" href="./../../media/icon/worksample.svg">
		<link rel="stylesheet" href="./../../layout/animations.css">
		<link rel="stylesheet" href="./../../layout/style.css"> 
		
		<script src="./../../scripts/worksamples.js"></script>

		<style>
			#japanesebath {
				background-image: url("./../../media/image/japanesebath.png");                       
			}
			#unrealtestspace {
				background-image: url("./../../media/image/unrealtestspace.png");                  
			}
			#woodhut {
				background-image: url("./../../media/image/woodhut.png");         
			}
			#workspace {
				background-image: url("./../../media/image/workspace.png");   
			}
			#smithgridstone {
				background-image: url("./../../media/image/smithgridstone.png");
			}
			#carshop {
				background-image: url("./../../media/image/carshop.png");
			}
		</style>
	</head>
	<body>
		<div class="header grid-wrap">
			<img src="./../../media/icon/worksample.svg"/>
			<h1>Arbeitsproben</h1>
		</div>
		<div class="content">
			<div id="japanesebath" class="grid animation-hover-background"  onclick="media.image('japanesebath')">
				<div class="ambient-shadow-gradiant-top-bottom">    
					<h2>Japanisches Bad</h2>
					<p>Aktuellste Studie über Noise generierte Texturen und Materialien.</p>                          
					<img src="./../../media/logo/blender.svg" />
				</div>
			</div>
			<div id="unrealtestspace" class="grid animation-hover-background" onclick="media.image('unrealtestspace')">
				<div class="ambient-shadow-gradiant-top-bottom">
					<h2>Unreal Test Insel</h2>
					<p>Studie zur Erstellung von Animation, Visuelleneffekten und Spiellogic.</p>                          
					<img src="./../../media/logo/unrealengine.svg" />
				</div>
			</div>
			<div id="woodhut" class="grid animation-hover-background" onclick="media.image('woodhut')">
				<div class="ambient-shadow-gradiant-top-bottom">
					<h2>Holzhütte</h2>
					<p>Modulare Struktur für eine vereinfachte Szenenerstellung.</p>                          
					<img src="./../../media/logo/blender.svg" />
				</div>
			</div>
			<div id="workspace" class="grid animation-hover-background" onclick="media.image('workspace')">
				<div class="ambient-shadow-gradiant-top-bottom">
					<h2>Arbeitsplatz</h2>
					<p>Eines meiner ersten "hard surface" Projekte zur Selbstmotivation.</p>                          
					<img src="./../../media/logo/blender.svg" />
				</div>
			</div>
			<div id="smithgridstone" class="grid animation-hover-background" onclick="media.moddel('smithgridstone')">
				<div class="ambient-shadow-gradiant-top-bottom">
					<h2>Schmiedeschleifstein</h2>
					<p>Einfaches Einzelteil LOD0 Moddel für Animationen und Konstruktionen.</p>                          
					<img src="./../../media/logo/blender.svg" />
				</div>
			</div>
			<div id="carshop" class="grid animation-hover-background" onclick="media.video('carshop')">
				<div class="ambient-shadow-gradiant-top-bottom">
					<h2>Autohändler</h2>
					<p>Individuelles Gebäude für GTA5 angepasst an Umgebung und Storytelling.</p>
					<img src="./../../media/logo/3dsmax.svg" />
				</div>
			</div>
		</div>
		<div class="navigationbar">
			<div class="ambient-shadow-backdrop">
				<a href="https://sketchfab.com/sxuno" target="_blank">
					<img class="link sketchfab" src="./../../media/logo/sketchfab.svg" />
				</a>
			</div>
			<div class="ambient-shadow-backdrop">
				<a href="https://twitter.com/SXuno" target="_blank">
					<img class="link twitter" src="./../../media/logo/twitter.svg" />
				</a>
			</div>
			<div class="ambient-shadow-backdrop">
				<a href="https://www.youtube.com/channel/UC5llmhOtMno3-DQoRaLsNgg" target="_blank">
					<img class="link youtube" src="./../../media/logo/youtube.svg" />
				</a>
			</div>
		</div>
	</body>
</html>