.animation-hover-background {
    background-size: 100%;
    -webkit-transition: background-size 3s ease-in;
    transition: background-size 1s ease-in;
}
.animation-hover-background:hover {
    background-size: 110%;
}
.resize-small {
    height: 560px;
    width: 315px;
}
.resize-medium {
    height: 1120px;
    width: 630px;
}
.resize-huge {
    height: 1680px;
    width: 945px;
}
.fadeIn {    
    animation: fadeInAnimation ease 1600ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} 
@keyframes fadeInAnimation {
0% {
    opacity: 0;
    }
100% {
    opacity: 1;
    }
}
.fadeOut {
    animation: fadeOutAnimation ease 1600ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}