<!DOCTYPE html>
<html lang = 'en'>
	<head>
		<title>WebGPU Engine</title>

		<meta name="description" content="Art, coding and moddeling portfolio">
		<meta name="keywords" content="SXuno, Portfolio, Artstaion, Github, Sketfab, LinkedIn">
		<meta name="author" content="Stefan Wienold">
		<meta name="language" content = 'en'>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">

		<link rel="icon" type="image/x-ico" href="./../../media/icon/menu.svg">
		<link rel="stylesheet" href="./../../theme/default/style.css">
	</head>
	<body>
		<header>
			<nav>
				<label class = 'left'>
					<img src = './../../media/icon/menu.svg' />
					Home
				</label>
				<label class = 'right'>
					English <img src = './../../media/icon/settings.svg' />
				</label>
			</nav>
		</header>
		<main id = 'Intent'>
			<section id = 'description'>
				<h2>Description</h2>
				<div>
					I intend to create a data-driven pipeline offering program solutions for artists <br />
					to manipulate spatial data in creative ways, <br />
					while supporting dynamic GPU-driven rendering and visual interpretation of matrix structures. <br />
					Workflow automations are Linux-exclusive, with cross-platform source file support.
				</div>
			</section>
		</main>
		<footer>
			<small>
				copyright by <a href = 'https://sxuno.github.io/' target = '_blank' rel = 'noopener noreferrer'>@sxuno</a>
			</small>
		</footer>
	</body>
</html>