<!DOCTYPE html>
<html lang = 'de'>
	<head>
		<title>Worksample</title>

	<meta name="description" content="Art, coding and moddeling portfolio">
	<meta name="keywords" content="SXuno, Portfolio, Artstaion, Github, Sketfab, LinkedIn">
	<meta name="author" content="Stefan Wienold">
	<meta name="language" content = 'de'>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">

		<link rel="icon" type="image/x-ico" href="./../media/icon/worksample.svg">
		<link rel="stylesheet" href="./../theme/default/animations.css">
		<link rel="stylesheet" href="./../theme/default/style.css"> 
		
		<script src="./worksample.js"></script>

		<style>
			#japanesebath {
				background-image: url("./../media/image/japanesebath.png");                       
			}
			#unrealtestspace {
				background-image: url("./../media/image/unrealtestspace.png");                  
			}
			#woodhut {
				background-image: url("./../media/image/woodhut.png");         
			}
			#workspace {
				background-image: url("./../media/image/workspace.png");   
			}
			#smithgridstone {
				background-image: url("./../media/image/smithgridstone.png");
			}
			#carshop {
				background-image: url("./../media/image/carshop.png");
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
				<label class = 'left'>
					<img src = './../media/icon/menu.svg' />
					<a href='./../index.html'>Home</a>
				</label>
				<label class = 'right'>
					Deutsch <img src = './../media/icon/settings.svg' />
				</label>
			</nav>
		</header>
		<div class="header grid-wrap">
			<img src="./../media/icon/worksample.svg"/>
			<h1>Worksample</h1>
		</div>
		<div class="content">
			<div id="japanesebath" class="grid animation-hover-background"  onclick="media.image('japanesebath')">
				<div class="ambient-shadow-gradiant-top-bottom">    
					<h2>Technical scene</h2>
					<p>Case study for webgpu instancing and material creation.</p>                          
					<img src="./../media/logo/blender.svg" />
				</div>
			</div>
			<div id="unrealtestspace" class="grid animation-hover-background" onclick="media.image('unrealtestspace')">
				<div class="ambient-shadow-gradiant-top-bottom">
					<h2>Unreal Test Level</h2>
					<p>Case study for actor relations and animations</p>                          
					<img src="./../media/logo/unrealengine.svg" />
				</div>
			</div>
			<div id="woodhut" class="grid animation-hover-background" onclick="media.image('woodhut')">
				<div class="ambient-shadow-gradiant-top-bottom">
					<h2>Woodhut</h2>
					<p>Case study for modular staticmeshs for modular actor instancing.</p>                          
					<img src="./../media/logo/blender.svg" />
				</div>
			</div>
			<div id="workspace" class="grid animation-hover-background" onclick="media.image('workspace')">
				<div class="ambient-shadow-gradiant-top-bottom">
					<h2>Workspace</h2>
					<p>Aniversery Sample about topology shading.</p>                          
					<img src="./../media/logo/blender.svg" />
				</div>
			</div>
			<div id="smithgridstone" class="grid animation-hover-background" onclick="media.model('smithgridstone')">
				<div class="ambient-shadow-gradiant-top-bottom">
					<h2>Modular Asset</h2>
					<p>Case study modular actor constrains.</p>                          
					<img src="./../media/logo/blender.svg" />
				</div>
			</div>
			<div id="carshop" class="grid animation-hover-background" onclick="media.video('carshop')">
				<div class="ambient-shadow-gradiant-top-bottom">
					<h2>Cardealershop</h2>
					<p>Case study for Materiallayering and chunks loading in RAGE Rockstar Advanced Game Engine.</p>
					<img src="./../media/logo/3dsmax.svg" />
				</div>
			</div>
		</div>
		<div class="navigationbar">
			<div class="ambient-shadow-backdrop">
				<a href="https://sketchfab.com/sxuno" target="_blank">
					<img class="link sketchfab" src="./../media/logo/sketchfab.svg" />
				</a>
			</div>
			<div class="ambient-shadow-backdrop">
				<a href="https://twitter.com/SXuno" target="_blank">
					<img class="link twitter" src="./../media/logo/twitter.svg" />
				</a>
			</div>
			<div class="ambient-shadow-backdrop">
				<a href="https://www.youtube.com/channel/UC5llmhOtMno3-DQoRaLsNgg" target="_blank">
					<img class="link youtube" src="./../media/logo/youtube.svg" />
				</a>
			</div>
		</div>
		<footer>
			<small>
				copyright by <a href = 'https://sxuno.github.io/' target = '_blank' rel = 'noopener noreferrer'>@sxuno</a>
			</small>
		</footer>
	</body>
</html>